<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/bodyheader :: bodyHeader" />
    <div class="jumbotron">

        <p th:text="|email &#58; ${user.email}|"></p>
        <p th:text="|${user.username} 님, 반가워요|"></p>

        <div>
            <a th:href="@{/userInfo/update}">회원정보 수정</a>
        </div>
    </div>

</body>
</html>