<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="d-flex flex-wrap justify-content-center py-3 mb-4 mx-5 border-bottom" th:fragment="bodyHeader">

  <a href="/"><h3 class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">초단편 소설가</h3></a>

  <div sec:authorize="isAnonymous()">
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
  </div>
  <div sec:authorize="isAuthenticated()">

    <a href="/logout">로그아웃</a>
    <a href="/userInfo">회원정보</a>
  </div>


</div>

<!--<header th:fragment="body_header" class="d-flex flex-wrap justify-content-center py-3 mb-4 mx-5 border-bottom">-->
<!--  <a href="#" th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">-->
<!--    <span class="home fs-4">6단어 소설가</span>-->
<!--  </a>-->

<!--  <ul class="nav nav-pills">-->
<!--    <li class="nav-item"><a href="#" th:href="@{/member/new}" class="nav-link">회원가입</a></li>-->
<!--    <li class="nav-item"><a href="#" th:href="@{/member/login}" class="nav-link">로그인</a></li>-->
<!--  </ul>-->
<!--</header>-->