<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<head>-->
<!--    <title>Board</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->

<head th:replace="fragments/myheader :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:replace="fragments/mybodyHeader :: bodyHeader" />
    <div class="jumbotron">

        <p>오늘의 단어</p>

        <div>
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr th:each="word : ${wordFive}">

                    <td th:text="${word}" ></td>

                </tr>
                </tbody>
            </table>
        </div>

        <a class="btn btn-lg btn-dark" href="/write">글쓰러 가기</a>

    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">

                <td th:text="${post.content}" ></td>

            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
</html>