<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<head>-->
<!--    <title>Board</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->

<head th:replace="fragments/myheader :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>

<body>

<div class="container">
    <div th:replace="fragments/mybodyHeader :: bodyHeader" />
    <div class="jumbotron">

        <p>오늘의 단어</p>
        <div>
            <table class="table table-striped">
                <thead>
                </thead>
                <tbody>
                <tr th:each="word : ${wordFive}">

                    <td th:text="${word}" ></td>

                </tr>
                </tbody>
            </table>
        </div>

        <a class="btn btn-lg btn-dark" href="/write">글쓰러 가기</a>
        <a class="btn btn-lg btn-dark" href="/test">테스트post생성</a>

    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>작성자</th>
                <th>이메일</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">

                <td th:text="${post.user.name}" ></td>
                <td th:text="${post.user.email}" ></td>
                <td th:text="${post.content}" ></td>
                <td>
                    <i class="fa-solid fa-heart"
                       th:id="|loveImg${post.id}|"
                       th:postId="${post.id}"
                       onclick="determineLike(this.getAttribute('postId'))"></i>
                    <span th:id="|loveCount${post.id}|" th:text="${post.loveCount}"></span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

<!--페이징-->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center mt-5 mb-5">
        <li class="page-item">
            <!--HomeController의 인자 page와 상호작용-->
            <a class="page-link mx-5" th:href="@{/(page=${pagination.prevBlock})}" aria-label="Previous" style="border-radius: 100px;">
                <span aria-hidden="true">&lt</span>
            </a>
        </li>
        <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
            <li class="page-item"
                th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                th:each="pageButton : ${#numbers.sequence(start, end)}">
                <a class="page-link mx-2" th:href="@{/(page = ${pageButton})}" th:text="${pageButton}" style="border-radius: 100px;"></a>
            </li>
        </th:block>
        <li class="page-item">
            <a class="page-link mx-5" th:href="@{/(page=${pagination.nextBlock})}" aria-label="Next" style="border-radius: 100px;">
                <span aria-hidden="true">&gt</span>
            </a>
        </li>
    </ul>
</nav>

</body>

<script type="text/javascript">

    var httpRequest;

    function determineLike(id) {

        /* 데이터를 가져옴 */
        var input = document.getElementById("loveCount" + id).value;
        /* 입력된 데이터 Json 형식으로 변경 */
        var reqJson = new Object();
        reqJson.name = input;
        /* 통신에 사용 될 XMLHttpRequest 객체 정의 */
        httpRequest = new XMLHttpRequest();
        /* httpRequest의 readyState가 변화했을때 함수 실행 */
        httpRequest.onreadystatechange = () => {
            /* readyState가 Done이고 응답 값이 200일 때 받아온 response로 화면 재구성 */
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    var result = httpRequest.response;


                    if (result.check === "loved") {
                        document.getElementById("loveImg" + id).className = "fa-solid fa-heart";
                    }
                    else {
                        document.getElementById("loveImg" + id).className = "fa-regular fa-heart";
                    }

                    document.getElementById("loveCount" + id).innerText = result.count;

                } else {
                    alert('request에 뭔가 문제가 있어요.');
                }
            }
        };
        /* Post 방식으로 요청 */
        httpRequest.open('POST', "/" + id + "/likeAndHateByAjax", true);
        /* Response Type을 Json으로 사전 정의 */
        httpRequest.responseType = "json";
        /* 요청 Header에 컨텐츠 타입은 Json으로 사전 정의 */
        httpRequest.setRequestHeader('Content-Type', 'application/json');
        /* 정의된 서버에 Json 형식의 요청 Data를 포함하여 요청을 전송 */
        httpRequest.send(JSON.stringify(reqJson));

    }

</script>

</html>